In [408]:
import numpy as np
import pandas as pd

In [409]:
df_train = pd.read_csv('data/titanic_train.csv')
df_test = pd.read_csv('data/titanic_test.csv')

<h1>Убираем все NaN</h1>

In [410]:
df_train.isna().sum()

Unnamed: 0       0
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            160
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          617
Embarked         2
dtype: int64

In [411]:
df_test.isna().sum()

Unnamed: 0      0
PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            17
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin          70
Embarked        0
dtype: int64

<h2>Дропаем столбецы Cabin, Unnamed, PassengerId, Name, Ticket</h2>

In [412]:
# Столбец Cabin
df_train_withoutNa = df_train.drop(['Cabin'], axis=1)
df_test_withoutNa = df_test.drop(['Cabin'], axis=1)

# Стоблец Unnamed
df_train_withoutNa = df_train_withoutNa.drop(["Unnamed: 0"], axis=1)
df_test_withoutNa = df_test_withoutNa.drop(["Unnamed: 0"], axis=1)

# Столбец PassengerId
df_train_withoutNa = df_train_withoutNa.drop(["PassengerId"], axis=1)
df_test_withoutNa = df_test_withoutNa.drop(["PassengerId"], axis=1)

# Столбец PassengerId
df_train_withoutNa = df_train_withoutNa.drop(["Name"], axis=1)
df_test_withoutNa = df_test_withoutNa.drop(["Name"], axis=1)

# Столбец Ticket
df_train_withoutNa = df_train_withoutNa.drop(["Ticket"], axis=1)
df_test_withoutNa = df_test_withoutNa.drop(["Ticket"], axis=1)

In [413]:
df_train_withoutNa.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         1       3    male   NaN      1      1  15.2458        C
1         0       2    male  31.0      0      0  10.5000        S
2         0       3    male  20.0      0      0   7.9250        S
3         1       2  female   6.0      0      1  33.0000        S
4         1       3  female  14.0      1      0  11.2417        C

<h2>Заполняем возраст средним</h2>

In [414]:
df_train_withoutNa['Age'] = df_train_withoutNa['Age'].fillna(df_train_withoutNa['Age'].mean())
df_test_withoutNa['Age'] = df_test_withoutNa['Age'].fillna(df_test_withoutNa['Age'].mean())

In [415]:
df_train_withoutNa.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [416]:
df_test_withoutNa.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [417]:
temp = df_train_withoutNa['Embarked'].dropna() # сброс рядов со значениями NaN

In [418]:
df_train_withoutNa = df_train_withoutNa.dropna(axis = 0)
#236

In [419]:
df_train_withoutNa.head()

   Survived  Pclass     Sex        Age  SibSp  Parch     Fare Embarked
0         1       3    male  29.705219      1      1  15.2458        C
1         0       2    male  31.000000      0      0  10.5000        S
2         0       3    male  20.000000      0      0   7.9250        S
3         1       2  female   6.000000      0      1  33.0000        S
4         1       3  female  14.000000      1      0  11.2417        C

In [420]:
df_train_withoutNa.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

<h2>Разбиваем столбцы</h2>

In [421]:
df_train_withoutNa_copy = df_train_withoutNa
df_test_withoutNa_copy = df_test_withoutNa

In [422]:
# Столбец Sex
df_train_withoutNa = pd.concat([df_train_withoutNa.drop(['Sex'], axis=1), pd.get_dummies(df_train_withoutNa['Sex'])], axis=1)
df_test_withoutNa = pd.concat([df_test_withoutNa.drop(['Sex'], axis=1), pd.get_dummies(df_test_withoutNa['Sex'])], axis=1)

# Стоблец Embarked
df_train_withoutNa = pd.concat([df_train_withoutNa.drop(['Embarked'], axis=1), 
                                pd.get_dummies(df_train_withoutNa['Embarked'])], axis=1)

df_test_withoutNa = pd.concat([df_test_withoutNa.drop(['Embarked'], axis=1), 
                                pd.get_dummies(df_test_withoutNa['Embarked'])], axis=1)

# Столбец Pclass
df_train_withoutNa = pd.concat([df_train_withoutNa.drop(['Pclass'], axis=1), 
                                pd.get_dummies(df_train_withoutNa['Pclass'])], axis=1)

df_test_withoutNa = pd.concat([df_test_withoutNa.drop(['Pclass'], axis=1), 
                                pd.get_dummies(df_test_withoutNa['Pclass'])], axis=1)

In [423]:
df_train_withoutNa.head()

   Survived        Age  SibSp  Parch     Fare  female  male  C  Q  S  1  2  3
0         1  29.705219      1      1  15.2458       0     1  1  0  0  0  0  1
1         0  31.000000      0      0  10.5000       0     1  0  0  1  0  1  0
2         0  20.000000      0      0   7.9250       0     1  0  0  1  0  0  1
3         1   6.000000      0      1  33.0000       1     0  0  0  1  0  1  0
4         1  14.000000      1      0  11.2417       1     0  1  0  0  0  0  1

In [424]:
df_test_withoutNa.head()

   Survived        Age  SibSp  Parch      Fare  female  male  C  Q  S  1  2  3
0         1  35.000000      0      0  135.6333       1     0  0  0  1  1  0  0
1         0  29.646351      8      2   69.5500       0     1  0  0  1  0  0  1
2         1  40.000000      0      0   15.7500       1     0  0  0  1  0  1  0
3         0  62.000000      0      0   26.5500       0     1  0  0  1  1  0  0
4         0  25.000000      1      0    7.9250       1     0  0  0  1  0  0  1

In [425]:
X_train = df_train_withoutNa.drop(['Survived'], axis=1).values
y_train = df_train_withoutNa['Survived'].values

X_test = df_test_withoutNa.drop(['Survived'], axis=1).values
y_test = df_test_withoutNa['Survived'].values

In [426]:
from sklearn.linear_model import LogisticRegression

In [427]:
model = LogisticRegression().fit(X_train, y_train)

D:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [428]:
print("Train R^2 score: {}".format(model.score(X_train, y_train)))
print("Test R^2 score: {}".format(model.score(X_test, y_test)))

Train R^2 score: 0.7919799498746867
Test R^2 score: 0.8791208791208791

<h2>Используем нейросеть</h2>

In [444]:
from keras.models import Sequential
from keras.layers import Dense

In [451]:
model2 = Sequential()

In [452]:
model2.add(Dense(12, input_dim=12, activation='relu'))

In [465]:
model2.add(Dense(64, activation='relu'))
#model2.add(Dense(64, activation='relu'))
#model2.add(Dense(64, activation='relu'))
model2.add(Dense(1, activation='sigmoid'))

In [466]:
model2.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

<h2>Обучаем нейронную сеть</h2>

In [467]:
model2.fit(X_train, y_train, epochs=100, batch_size=10)

Epoch 1/100
798/798 [==============================] - 1s 1ms/step - loss: 0.2200 - acc: 0.7619
Epoch 2/100
798/798 [==============================] - 0s 201us/step - loss: 0.2015 - acc: 0.8358
Epoch 3/100
798/798 [==============================] - 0s 188us/step - loss: 0.1761 - acc: 0.8571
Epoch 4/100
798/798 [==============================] - 0s 175us/step - loss: 0.1476 - acc: 0.8709
Epoch 5/100
798/798 [==============================] - 0s 188us/step - loss: 0.1354 - acc: 0.8521
Epoch 6/100
798/798 [==============================] - 0s 238us/step - loss: 0.1229 - acc: 0.8596
Epoch 7/100
798/798 [==============================] - 0s 188us/step - loss: 0.1203 - acc: 0.8496
Epoch 8/100
798/798 [==============================] - 0s 188us/step - loss: 0.1307 - acc: 0.8396
Epoch 9/100
798/798 [==============================] - 0s 301us/step - loss: 0.1252 - acc: 0.8459
Epoch 10/100
798/798 [==============================] - 0s 276us/step - loss: 0.1181 - acc: 0.8534
Epoch 11/100
798/798 [==============================] - 0s 276us/step - loss: 0.1089 - acc: 0.8622
Epoch 12/100
798/798 [==============================] - 0s 238us/step - loss: 0.1097 - acc: 0.8596
Epoch 13/100
798/798 [==============================] - 0s 213us/step - loss: 0.1064 - acc: 0.8659
Epoch 14/100
798/798 [==============================] - 0s 226us/step - loss: 0.1293 - acc: 0.8383
Epoch 15/100
798/798 [==============================] - 0s 263us/step - loss: 0.1433 - acc: 0.8158
Epoch 16/100
798/798 [==============================] - 0s 213us/step - loss: 0.1187 - acc: 0.8446
Epoch 17/100
798/798 [==============================] - 0s 201us/step - loss: 0.1084 - acc: 0.8672
Epoch 18/100
798/798 [==============================] - 0s 188us/step - loss: 0.1087 - acc: 0.8596
Epoch 19/100
798/798 [==============================] - 0s 188us/step - loss: 0.1069 - acc: 0.8659
Epoch 20/100
798/798 [==============================] - 0s 188us/step - loss: 0.1097 - acc: 0.8609
Epoch 21/100
798/798 [==============================] - 0s 201us/step - loss: 0.1039 - acc: 0.8697
Epoch 22/100
798/798 [==============================] - 0s 426us/step - loss: 0.1019 - acc: 0.8709
Epoch 23/100
798/798 [==============================] - 0s 326us/step - loss: 0.1046 - acc: 0.8647
Epoch 24/100
798/798 [==============================] - 0s 238us/step - loss: 0.1068 - acc: 0.8584
Epoch 25/100
798/798 [==============================] - 0s 163us/step - loss: 0.1132 - acc: 0.8534
Epoch 26/100
798/798 [==============================] - 0s 163us/step - loss: 0.1109 - acc: 0.8634
Epoch 27/100
798/798 [==============================] - 0s 175us/step - loss: 0.1095 - acc: 0.8584
Epoch 28/100
798/798 [==============================] - 0s 226us/step - loss: 0.1051 - acc: 0.8609
Epoch 29/100
798/798 [==============================] - 0s 263us/step - loss: 0.1111 - acc: 0.8546
Epoch 30/100
798/798 [==============================] - 0s 251us/step - loss: 0.1046 - acc: 0.8634
Epoch 31/100
798/798 [==============================] - 0s 226us/step - loss: 0.1038 - acc: 0.8647
Epoch 32/100
798/798 [==============================] - 0s 188us/step - loss: 0.1097 - acc: 0.8596
Epoch 33/100
798/798 [==============================] - 0s 238us/step - loss: 0.1100 - acc: 0.8647
Epoch 34/100
798/798 [==============================] - 0s 163us/step - loss: 0.1079 - acc: 0.8622
Epoch 35/100
798/798 [==============================] - 0s 163us/step - loss: 0.1008 - acc: 0.8697
Epoch 36/100
798/798 [==============================] - 0s 226us/step - loss: 0.1026 - acc: 0.8722
Epoch 37/100
798/798 [==============================] - 0s 150us/step - loss: 0.1035 - acc: 0.8672
Epoch 38/100
798/798 [==============================] - 0s 163us/step - loss: 0.1058 - acc: 0.8609
Epoch 39/100
798/798 [==============================] - 0s 175us/step - loss: 0.1037 - acc: 0.8634
Epoch 40/100
798/798 [==============================] - 0s 201us/step - loss: 0.1016 - acc: 0.8797
Epoch 41/100
798/798 [==============================] - 0s 163us/step - loss: 0.1075 - acc: 0.8659
Epoch 42/100
798/798 [==============================] - 0s 163us/step - loss: 0.1062 - acc: 0.8684
Epoch 43/100
798/798 [==============================] - 0s 188us/step - loss: 0.1118 - acc: 0.8609
Epoch 44/100
798/798 [==============================] - 0s 238us/step - loss: 0.1045 - acc: 0.8672
Epoch 45/100
798/798 [==============================] - 0s 163us/step - loss: 0.1024 - acc: 0.8709
Epoch 46/100
798/798 [==============================] - 0s 188us/step - loss: 0.0998 - acc: 0.8797
Epoch 47/100
798/798 [==============================] - 0s 226us/step - loss: 0.1015 - acc: 0.8709
Epoch 48/100
798/798 [==============================] - 0s 163us/step - loss: 0.0968 - acc: 0.8784
Epoch 49/100
798/798 [==============================] - 0s 163us/step - loss: 0.1003 - acc: 0.8722
Epoch 50/100
798/798 [==============================] - 0s 175us/step - loss: 0.0987 - acc: 0.8759
Epoch 51/100
798/798 [==============================] - 0s 188us/step - loss: 0.0957 - acc: 0.8759
Epoch 52/100
798/798 [==============================] - 0s 201us/step - loss: 0.1007 - acc: 0.8684
Epoch 53/100
798/798 [==============================] - 0s 188us/step - loss: 0.1001 - acc: 0.8734
Epoch 54/100
798/798 [==============================] - 0s 188us/step - loss: 0.1504 - acc: 0.8020
Epoch 55/100
798/798 [==============================] - 0s 163us/step - loss: 0.1340 - acc: 0.8258
Epoch 56/100
798/798 [==============================] - 0s 163us/step - loss: 0.1315 - acc: 0.8346
Epoch 57/100
798/798 [==============================] - 0s 188us/step - loss: 0.1145 - acc: 0.8534
Epoch 58/100
798/798 [==============================] - 0s 175us/step - loss: 0.1075 - acc: 0.8596
Epoch 59/100
798/798 [==============================] - 0s 163us/step - loss: 0.1030 - acc: 0.8672
Epoch 60/100
798/798 [==============================] - 0s 163us/step - loss: 0.1159 - acc: 0.8496
Epoch 61/100
798/798 [==============================] - 0s 188us/step - loss: 0.1117 - acc: 0.8459
Epoch 62/100
798/798 [==============================] - 0s 175us/step - loss: 0.1024 - acc: 0.8734
Epoch 63/100
798/798 [==============================] - 0s 163us/step - loss: 0.1183 - acc: 0.8496
Epoch 64/100
798/798 [==============================] - 0s 201us/step - loss: 0.1223 - acc: 0.8484
Epoch 65/100
798/798 [==============================] - 0s 163us/step - loss: 0.1094 - acc: 0.8596
Epoch 66/100
798/798 [==============================] - 0s 163us/step - loss: 0.1072 - acc: 0.8596
Epoch 67/100
798/798 [==============================] - 0s 175us/step - loss: 0.1006 - acc: 0.8772
Epoch 68/100
798/798 [==============================] - 0s 175us/step - loss: 0.1069 - acc: 0.8584
Epoch 69/100
798/798 [==============================] - 0s 163us/step - loss: 0.1033 - acc: 0.8697
Epoch 70/100
798/798 [==============================] - 0s 175us/step - loss: 0.1122 - acc: 0.8546
Epoch 71/100
798/798 [==============================] - 0s 276us/step - loss: 0.1092 - acc: 0.8647
Epoch 72/100
798/798 [==============================] - 0s 163us/step - loss: 0.1064 - acc: 0.8634
Epoch 73/100
798/798 [==============================] - 0s 150us/step - loss: 0.1033 - acc: 0.8734
Epoch 74/100
798/798 [==============================] - 0s 175us/step - loss: 0.1022 - acc: 0.8734
Epoch 75/100
798/798 [==============================] - 0s 238us/step - loss: 0.1057 - acc: 0.8672
Epoch 76/100
798/798 [==============================] - 0s 175us/step - loss: 0.1011 - acc: 0.8772
Epoch 77/100
798/798 [==============================] - 0s 188us/step - loss: 0.1016 - acc: 0.8672
Epoch 78/100
798/798 [==============================] - 0s 175us/step - loss: 0.1017 - acc: 0.8747
Epoch 79/100
798/798 [==============================] - 0s 163us/step - loss: 0.0991 - acc: 0.8734
Epoch 80/100
798/798 [==============================] - 0s 150us/step - loss: 0.1010 - acc: 0.8697
Epoch 81/100
798/798 [==============================] - 0s 175us/step - loss: 0.1025 - acc: 0.8647
Epoch 82/100
798/798 [==============================] - 0s 175us/step - loss: 0.1054 - acc: 0.8659
Epoch 83/100

798/798 [==============================] - 0s 163us/step - loss: 0.1088 - acc: 0.8659
Epoch 84/100
798/798 [==============================] - 0s 163us/step - loss: 0.1070 - acc: 0.8659
Epoch 85/100
798/798 [==============================] - 0s 163us/step - loss: 0.1072 - acc: 0.8622
Epoch 86/100
798/798 [==============================] - 0s 175us/step - loss: 0.1046 - acc: 0.8622
Epoch 87/100
798/798 [==============================] - 0s 163us/step - loss: 0.1051 - acc: 0.8709
Epoch 88/100
798/798 [==============================] - 0s 163us/step - loss: 0.1051 - acc: 0.8634
Epoch 89/100
798/798 [==============================] - 0s 201us/step - loss: 0.1019 - acc: 0.8709
Epoch 90/100
798/798 [==============================] - 0s 163us/step - loss: 0.1023 - acc: 0.8684
Epoch 91/100
798/798 [==============================] - 0s 163us/step - loss: 0.0989 - acc: 0.8734
Epoch 92/100
798/798 [==============================] - 0s 175us/step - loss: 0.1023 - acc: 0.8722
Epoch 93/100
798/798 [==============================] - 0s 150us/step - loss: 0.0969 - acc: 0.8747
Epoch 94/100
798/798 [==============================] - 0s 150us/step - loss: 0.0933 - acc: 0.8797
Epoch 95/100
798/798 [==============================] - 0s 150us/step - loss: 0.1090 - acc: 0.8571
Epoch 96/100
798/798 [==============================] - 0s 175us/step - loss: 0.1017 - acc: 0.8759
Epoch 97/100
798/798 [==============================] - 0s 175us/step - loss: 0.1069 - acc: 0.8596
Epoch 98/100
798/798 [==============================] - 0s 175us/step - loss: 0.1097 - acc: 0.8496
Epoch 99/100
798/798 [==============================] - 0s 226us/step - loss: 0.1093 - acc: 0.8559
Epoch 100/100
798/798 [==============================] - 0s 326us/step - loss: 0.1171 - acc: 0.8484

In [480]:
scores = model2.evaluate(X_test, y_test)
print("\n%s: %.2f%%" % (model2.metrics_names[1], scores[1]*100))

91/91 [==============================] - 0s 110us/step

acc: 81.32%

In [441]:
from sklearn.ensemble import RandomForestClassifier

In [442]:
model3 = RandomForestClassifier().fit(X_train, y_train)

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [443]:
print("RandomForestClassifier\nTrain R^2 score: {}".format(model3.score(X_train, y_train)))
print("Test R^2 score: {}".format(model3.score(X_test, y_test)))

RandomForestClassifier
Train R^2 score: 0.9624060150375939
Test R^2 score: 0.8791208791208791